<html>
<body>
<font size="4"><!--IMG src="@@logoFile@@" border=0--><br>
<b>@@commName@@</b></font><br>
<font size="2">@@commAddress@@<br>
@@commPhone@@<br>
E-mail: <a href="mailto:@@commEmail@@">@@commEmail@@</a><br>
<hr>
<p></p>
<p></p>
<p>From : @@startInterval@@ To : @@endInterval@@ </p>
<p><br>
  Issued : @@invTimestamp@@ </p>
<p>Product : Advanced Title Search<sup><font size="1">TM</font></sup><br>
  @@tableSubTotal@@ </p>
<p><br>
  <font size="4">Pay to: <b>@@commName@@</b></font><br>
  @@commAddress@@<br>
</p>
@@invDetails@@
</body>
</html>
